* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;

}

form {
  margin: auto;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  border: 1px solid #000;
}

textarea {
  height: 180px;
  resize: none;
}

.fieldset {
  display: flex;
  flex-grow: 1;
  min-width: 400px;
  padding: 20px 30px;
  border: 1px solid grey;
  flex-direction: column;
  border-radius: 4px;
}

.personal-info {
  margin-bottom: 30px;
}

.fieldset > label {
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: bold;
}

.radio-control-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.radio-control-wrapper * {
  margin: 0;
}

.button-control-wrapper {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

input , select , textarea {
  padding: 8px;
  font-size: 1rem;
  overflow: hidden;
}

input:focus , select:focus , textarea:focus {
  outline: none;
  border: 2px solid skyblue;
  border-radius: 2px;
}

button {
  flex: 1;
  padding: 16px 0;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: seagreen;
  border: 1px solid;
  border-radius: 4px;
  color: white
}